/* _________________________ notify.js _________________________ */

#notification {
  border: 4px solid white;
  height: 15%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  transition: transform 0.25s ease-out;
  transform: translateY(-100%) scale(0.9);

  background: linear-gradient(90deg, transparent, skyblue, transparent);
  background-size: 200% 100%;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3vh;
  text-align: center;
}
#notification.activate {
  transition: transform 0.25s ease-in;
  transform: translateY(0%) scale(1);
}

/* _________________________ Loading Screen _________________________ */

#loading-square-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 4px solid white;
  background-color: transparent;
  height: 100px;
  width: 100px;
  animation: loading-square-anim 5s infinite linear;
}

#loading-screen {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: skyblue;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
#loading-screen.on {
  transition: opacity 0.25s ease-in;
  opacity: 0.5;
}

@keyframes loading-square-anim {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* _________________________ common _________________________ */

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
}

/* _________________________ AnAncientForce _________________________ */

:root {
  --primary: #231a1d;
  --primary-margin: 0.75rem;
  --primary-padding: 0.2rem;
  --primary-border-radius: 12px;
  --primary-background-color: #231a1d;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #120b0d;
}

br {
  display: block;
  margin: 1.5vh 0;
  content: " ";
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  outline: none;
  margin: 1%;
  padding: 1%;
  border: none;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.rounded {
  border-radius: 12px;
}

.padded {
  padding: 0.5rem;
}

.light-text {
  color: rgba(255, 255, 255, 0.75);
}

/* +++++ */
#layout {
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  #layout {
    width: 70rem;
  }
}

.island {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 12px;
  background-color: var(--primary);
}

#nav {
  height: fit-content;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--primary);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  display: flex;
  justify-content: space-between;

  /* ensure on top of banner image */
  z-index: 1;
  position: relative;
}

.banner-img {
  z-index: 0;
  position: absolute;
  top: 0;
}

/* width of the primary islands */

@media only screen and (min-width: 768px) {
  #profile {
    width: 30vw;
  }
  #posts {
    width: 70vw;
  }
}

#profile,
#categories,
#posts {
  margin-top: 70%;
}

@media only screen and (max-width: 768px) {
  #profile,
  #categories,
  #posts {
    margin-top: 0%;
  }
}

#catagories {
  margin: 1rem;
  border: 1px solid white;
}

.post_tile {
  min-width: 90%;
  margin: var(--primary-margin);
  padding: var(--primary-padding);
  background-color: var(--primary);
  border-radius: var(--primary-border-radius);
  padding-left: 2rem;
}

.post_tile div {
  align-items: center;
  padding-right: 1rem;
}

#dynamic_tags * {
  padding: 0.5rem;
}

.btn_recommended {
  height: 2vh;
  width: fit-content;
  background-color: green;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
    /* font-size: 1.5vh; */
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

@media only screen and (max-width: 620px) {
  h1 {
    font-size: 1.5vh;
  }

  #reading_window {
    z-index: 2;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }

  #reading_content {
    width: 100% !important;
  }

  #reading_content img {
    height: 25vh !important;
  }

  /* new layout here */
}

.hoz_space {
  margin-right: 5px;
}

.centered_text {
  text-align: center;
}

#pfp {
  margin: 1%;
  height: 37.5vh;
}

#facts {
  font-size: large;
  font-weight: bold;
}
#facts > p {
  margin: 1%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

table {
  padding: 1%;
  /* width: 40vw; */
  min-width: 60vw;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid white;
}
th,
td {
  padding: 0.5%;
  text-align: center;
  font-size: large;
}

#reading_window {
  position: fixed;

  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  border-radius: 16px;
  border: solid white 1px;
  */

  left: 1vw;
  right: 1vw;
  top: 1vh;
  bottom: 1vh;

  border: 1px solid white;

  padding: 2%;
  /* backdrop-filter: blur(10px); */
  z-index: 2; /* must be highest, UNLESS notification module */

  /*
  background-image: url("assets/paper.jpg");
  background-size: cover;
  */
  /*
  background-color: beige;
  color: black;
  */
  background-color: rgb(24, 26, 27);
  color: white;
}

#reading_content {
  /* positioning */

  position: relative;
  margin: auto; /* auto centers */
  width: 80%;

  height: 90%; /* 85%, any higher, reader buttons leak */

  padding-left: 1%;
  padding-right: 1%;

  /*white-space: pre-wrap; NEVER USE THIS */
  word-wrap: break-word;
  overflow: auto;
  overflow-wrap: break-word;
}

#reading_content img {
  height: 50vh;
}

#reading_window button {
  font-size: 2vh;
  min-height: fit-content;
  min-width: fit-content;
  height: 5%;
  width: 10%;
}

#recommended_content a {
  margin: 1vh;
  font-size: small;
  color: white;
}

#recommended_content a:hover {
  color: #535bf2;
}

.socials {
  margin: var(--primary-margin);
  padding: var(--primary-padding);
  text-align: center;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 0.5%;
  width: fit-content;
  border-radius: 16px;
}

.socials * {
  margin-left: 1vw;
  margin-right: 1vw;
}

.tr_div,
.tr_div_2 {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: small;
  color: rgba(255, 255, 255, 0.75);
}

.tr_div * {
  padding: var(--primary-padding);
  margin-right: var(--primary-margin);
  border-radius: var(--primary-border-radius);
  background-color: rgba(0, 0, 0, 0.5);
}

.tr_div_2 * {
  padding: var(--primary-padding);
  margin-right: var(--primary-margin);
}

/* _________________________ Animations _________________________ */

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(125%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes moveAndRotate {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(25px) rotate(-2.5deg);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(-25px) rotate(2.5deg);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(2);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
